@page "/AddTopic"
@model Web_Forum.Views.Home.TopicPage.AddTopic
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-8">
        <form id="addTopicForm" method="post">
            <h2>Create a new topic.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Title" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Title"></label>
                <span asp-validation-for="Input.Title" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Content" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Content"></label>
                <span asp-validation-for="Input.Content" class="text-danger"></span>
            </div>
            <button id="addTopicSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Add</button>
        </form>
    </div>
