@page "/Topic"
@model Web_Forum.Views.Home.TopicPage.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Topics</h1>


<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Content
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Topics != null) {
            foreach(var topic in Model.Topics)
            {
                <tr>
                    <td width="30%">
                        @topic.title
                    </td>
                    <td width="50%">
                        @topic.content
                    </td>
                </tr>
            }
        }
    </tbody>
</table>